@media (min-width: 0px) {
    footer {
        margin-top: calc(min(45vw, 450px));
        position: relative;
        background-color: #FFFBBF;
        padding: 20px;
    }
    #footer_contact {
        display: flex;
        align-items: center;
        justify-content: center;
        img {
            width: 80%;
            max-width: 400px;
        }
    }
    #footer_menu_mobile {
        padding: 15px 0;
        ul {
            li {
                border-top: 1px dotted rgb(141, 141, 141);
                width: 100%;
                text-align: center;
                padding: 7px 0;
                font-size: 13px;
            }
        }
    }
    #footer_menu_pc {
        display: none;
    }
    #footer_sns {
        img {
            width: 34px;
        }
    }
    .footer_gif {
        position: absolute;
        width: 100vw;
        max-width: 1000px;
        bottom: 98%;
        left: 50%;
        transform: translateX(-50%);
    }
}

// 平板到筆電
@media (min-width: 576px) {}

// 桌機
@media (min-width: 992px) {
    #footer_menu_mobile {
        display: none;
    }
    #footer_menu_pc {
        display: block;
        ul {
            display: flex;
            justify-content: center;
            li {
                font-size: 16px;
                &:not(:last-child)::after {
                    content: "|";
                    margin: 0 10px;
                    font-size: 16px;
                }
            }
        }
    }
}